!!!
%html
  %head
    %title BooksManage
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    ==<meta name="viewport" content="width=device-width, initial-scale=1.0">
  %body
    =render 'layouts/topbar'
    .tags-box
      %h2="标签"
      %ul
        -@tags.each do |tag|
          %li.margin-bottom
            %span.label=link_to tag.name, show_list_by_tag_book_url(tag.id)
        .clear-left
    =yield
    .search-box
      %h2="搜索"
      =form_tag search_books_url, :method => :get  do
        =label_tag :name, "书名"
        =text_field_tag :name, nil, :class => 'search-text'
        =label_tag :publish_at, "出版日期"
        %div
          =select_tag :publish_gteq, ((Date.today.year - 20)..Date.today.year).map{|year| "<option>#{year}</option>"}.join.html_safe, :include_blank => true, :class => 'search-select'
          =select_tag :publish_lteq, ((Date.today.year - 20)..Date.today.year).map{|year| "<option>#{year}</option>"}.join.html_safe, :include_blank => true, :class => 'search-select'
        =submit_tag "查询"
      
